:root {
  /* Scaling  (minor third) ------------ */

  --bb-text-size-80: 0.694rem;
  --bb-text-size-90: 0.833rem;
  --bb-text-size-100: 1rem;
  --bb-text-size-200: 1.2rem;
  --bb-text-size-300: 1.44rem;
  --bb-text-size-400: 1.728rem;
  --bb-text-size-500: 2.074rem;
  --bb-text-size-600: 2.488rem;
  --bb-text-size-700: 2.986rem;
  --bb-text-spacing-90: -0.022em;
  --bb-text-line-height-90: 1.15;
  --bb-text-line-height-100: 1.5;
  --bb-whitespace-scale: 1.5;
  --bb-whitespace-100: 1rem;
  --bb-whitespace-90: calc(var(--bb-whitespace-100) / var(--bb-whitespace-scale));
  --bb-whitespace-80: calc(var(--bb-whitespace-90) / var(--bb-whitespace-scale));
  --bb-whitespace-200: calc(var(--bb-whitespace-100) * var(--bb-whitespace-scale));
  --bb-whitespace-300: calc(var(--bb-whitespace-200) * var(--bb-whitespace-scale));
  --bb-whitespace-400: calc(var(--bb-whitespace-300) * var(--bb-whitespace-scale));
  --bb-whitespace-500: calc(var(--bb-whitespace-400) * var(--bb-whitespace-scale));

  /* Palette ------------ */

  --bb-palette-black: #000;
  --bb-palette-white: #fff;

  /* Type ------------ */

  --bb-text-font: "Montserrat", sans-serif;
  --bb-type-heading-font: var(--bb-text-font);
  --bb-type-heading-spacing: var(--bb-text-spacing-90);
  --bb-type-heading-line-height: var(--bb-text-line-height-90);
  --bb-type-heading-weight: 700;
  --bb-type-body-font: var(--bb-text-font);
  --bb-type-body-line-height: var(--bb-text-line-height-100);
  --bb-type-body-weight: 500;

  /* Colour ------------ */

  --bb-colour-primary: var(--bb-palette-white);
  --bb-colour-on-primary: var(--bb-palette-black);
}
