/* Typography ------------ */

body {
  font-family: var(--bb-type-body-font);
  line-height: var(--bb-type-body-line-height);
  color: var(--bb-colour-on-primary);
  background-color: var(--bb-colour-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--bb-type-heading-font);
  line-height: var(--bb-type-heading-line-height);
  letter-spacing: var(--bb-type-heading-spacing);
}

h1 {
  font-size: var(--bb-text-size-700);
}

h2 {
  font-size: var(--bb-text-size-600);
}

h3 {
  font-size: var(--bb-text-size-500);
}

h4 {
  font-size: var(--bb-text-size-400);
}

h5 {
  font-size: var(--bb-text-size-300);
}

h6 {
  font-size: var(--bb-text-size-200);
}

p {
  font-size: var(--bb-text-size-100);
}

small {
  font-size: var(--bb-text-size-90);
}
